section#todostatus{
    width:100%;
    height:54px; 
    background:#eeeeee; 
    /* dark-mode:  background:#2d3a55; */
}



ul#todostatus_list{
    width:100%;
    height:100%;
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-around;
    align-content:center; 
}

button.status_btn{
    border:none;
    font:normal 14px 'verdana'; 
    color:rgb(163, 163, 163); 
    background:none;
    cursor: pointer;
    transition:0.2s ease-out; 
}

button.status_btn:hover{
    color:rgb(235, 5, 5);
}

button.status_btn.selected{
    color:rgb(235, 5, 5);
    position:relative;
    left:0px;
    top:0px;           

}

button.status_btn.selected::after{
    content:'';
    display:block;
    width:60px;
    height:3px;
    background:rgb(235, 5, 5);
    position:absolute;
    left:50%;
    margin-left:-30px; 
    top:31px; 

}